<div class="topbar primary-bg-color-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="languages">
					
				</div>
			</div>
		</div>
	</div>	
</div>	
<div class="dark-blue header">
	<div class="container">
		<div class="row">
			<div class="col-4">
				<div class="logo-wrapper">
					<a class="logo-parent" href="{{ "/" | prepend: SourceUrl }}">
						<div class="logo">
							<div></div>
						</div>
						<div class="mobile-hide binary-logo-text">
							<div></div>
						</div>
					</a>
				</div>    
			</div>
			<div class="col-8">
				{% include snippets/title.html %}				
		    </div>
		</div>
	</div>
</div>
<div class="Subheader">
	<div class="container">
		<div class="row">
			<div class="col">
			<ul class="">
				{% include navs/navigation.html %}
			</ul>
			</div>
		</div>
	</div>
</div>