.card-4 {
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	padding: 0px;
	margin-top: 100px;
	position: relative;
}

.card-4-image {
	position: absolute;
	top: -90px;
	left: 0;
	right: 0;
}
.card-4-title {
	margin-top: 110px;
}

.card-4-title h3 {
	padding: 0 15px;
}

.card-4-content {
	background-color: #fff;
	padding: 5px 10px 10px;
	min-height: 150px;
}

@media (max-width:768px) {
	.card-4-content {
		min-height: 0px;
	}
}

.card-4-cta {
	background-color: #fff;
	padding-bottom: 15px;
}

.card {
	border-radius: 3px;
	margin-bottom: 30px;
}
.card .caption {
	padding: 10px 20px 0 20px;
}

@media only screen and (max-width : 576px) {
	.card {
		margin-bottom: 15px;
  }
}

/* FLEXBOX
   - Equal Height Columns in Rows
   - Equal Height Thumbnails
   - Flex Grow to Fill Paragraph Height
*/

@media only screen and (min-width : 481px) {
  .flex-row.row {
    display: flex;
	 flex-wrap: wrap;
  }
  .flex-row.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
  .flex-row.row:after,
  .flex-row.row:before {
	 display: flex;
  }
  .flex-row.row > [class*='col-'] > .box {
    display: flex;
	 flex: 1;
  }
}




/* Grow thumbnails to fill columns height */
.flex-row .thumbnail,
.flex-row .caption {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
}

/* Flex Grow Text Container */
.flex-row .caption p.flex-text {
	flex-grow: 1;
}

/* Flex Responsive Image */
.flex-row img {
	width: 100%;
	height: auto;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.no-gutters {
  padding-right: 0;
  padding-left: 0;
}
