.Footer {
    display: table;
    width: 100%;
    margin-top: 0px;
}

.Footer a {
    color: #fff;
}

.Footer__socket {
    display: table;
    width: 100%;
    background-color: #2a3052;
    color: #fff;
    padding: 15px 0px;
}

.Footer__socket h4 {
    font-size: 14px;
    text-transform: none;
    font-weight: bold!important;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #e98024;
}

.Footer__socket ul {
    list-style-type: none;
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
}

.Footer__socket ul li {
    border-bottom: 0px solid #ccc;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
}

.Footer__socket ul li a {
    padding: 0px 0px;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

.Footer__socket ul li a:hover {
    color: #eee;
    text-decoration: underline;
}

.Footer__info {
    display: table;
    width: 100%;
    background-color: #15212d;
    color: #fff;
    padding: 10px 0px;
    font-size: 12px;
}

.Footer__info a {
    text-decoration: underline;
}

.Footer__copyrights {
    display: table;
    width: 100%;
    background-color: #2a3052;
    color: #fff;
    padding: 10px 0px;
    text-align: center;
}

.Footer__copyrights a {
    text-decoration: underline;
}

.Footer__copyrights ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}

.Footer__copyrights ul li {
    display: inline-block;
    margin: 0px 0px;
    padding: 5px 0px;
}

.Footer__copyrights ul li a {
    padding: 4px 15px;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

.Footer__copyrights ul li a:hover {
    color: #eee;
    text-decoration: underline;
}

.Footer__copyrights__copy {
    color: #eee;
}

.Footer__social h5 {
    text-align: center;
}

.Footer__social ul {
    margin-top: 20px;
}

.Footer__social ul li {
    padding: 2px;
}

.Footer__social ul li img {
    width: 30px;
    height: 30px;
}