/* Header */

.topbar {
    min-height: 28px;
}

.Top-Bar__contacts {
    display: inline;
    text-align: right;
    margin: 0;
}

.Top-Bar__contacts a {
    display: inline-block;
    color: #fff;
    margin: 0 10px;
    padding-top: 7px;
    padding-right: 17px;
}

#select_language {
    z-index: 9999!important;
}

#select_language li a:link {
    color: #000000!important;
    font-weight: normal!important;
}

#select_language li a:visited {
    color: #000000!important;
    font-weight: normal!important;
}

#topbar .language-wrapper,
.topbar .language-wrapper {
    vertical-align: middle;
    padding: 0 5px;
    display: inline-flex;
    min-width: 58px;
    margin: 0 auto
}

.topbar .language-wrapper .language {
    padding: 5px 1px;
}

.Header__title {
    color: #fff;
    margin: 0;
    padding-top: 10px;
    padding-right: 20px;
    text-align: right;
    font-weight: 300!important;
    margin-top: 5px!important
}

@media only screen and (max-width:480px) {
    .mobile-hide {
        display: none!important;
    }
}

@media (max-width: 992px) {
    .Header__title {
        text-align: right;
        margin-bottom: 10px;
        padding-right: 0px;
    }
}


/* Subheader */

.Subheader {
    display: table;
    width: 100%;
    font-size: 16px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #dedede;
    padding: 0px;
    text-align: center;
}

.Subheader ul {
    list-style: none;
    margin: 0px;
    padding: 0px 0;
    width: 100%;
    display: block;
}

.Subheader ul li {
    display: inline-block;
    margin: 0px 0px;
    padding: 5px 0px;
}

.Subheader ul li a {
    padding: 4px 15px;
    font-weight: 400;
}

.Subheader ul li a:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    .Subheader ul li {
        display: block;
        margin: 0px 0px;
        padding: 6px 0px;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }
    .Subheader ul li a {
        width: 100%;
        margin-left: -15px;
        padding: 7px 15px;
        display: block;
    }
}