

/* Snippets */

img {
	max-width: 100%;
}

.report-list {
    width: 100%;
}

.rte img {
    max-width: 100%;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.list--item {
    display: block;
    border-bottom: 1px solid #dedede;
}


.p--action {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center!important;
}

.fl--left {
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
}

.sc--center {
    display: block;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.daily-report img {
    width: inherit;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.daily-report ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.daily-report ul li {
    margin-left: 0px;
    padding: 0px;
    width: 100%;
}

.separator-line-lg {
    margin-top: 30px;
    margin-bottom: 30px
}

.separator-md {
    height: 20px
}

.separator-lg {
    height: 30px
}

.separator-xl {
    height: 50px
}

.separator-xxl {
    height: 100px
}

.separator-line-thin-gray-xs {
    height: 1px;
    background-color: #dedede;
    margin: 0;
}

.separator-line-thin-gray {
    height: 1px;
    background-color: #dedede;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ft-700 {
    font-weight: 700;
}

.bordered {
    border: 1px solid #dedede;
}

.top-border {
    border-top: 1px solid #dedede;
}

.left-border {
    border-left: 1px solid #dedede;
}

.right-border {
    border-right: 1px solid #dedede;
}	
	
.border-down {
    border-bottom: 1px solid #dedede;
}

.top-20 {
	margin-top: 20px;
}

.bottom-20 {
	margin-bottom: 20px;
}

.bottom-30 {
	margin-bottom: 30px;
}

.default-tb-margin {
	margin-top: 15px;
	margin-bottom: 15px;
}

.p-10 {
	padding: 10px;
}

.p-20 {
	padding: 20px;
}

.block-element {
    display: block;
}

.content-color {
	color: #000;
}

.rounded {
	border-radius: 100%;
	border: 1px solid #dedede;
	padding: 3px;
	width: 120px;
}

.overflow-hidden {
	overflow: hidden;
}

@media (max-width: 768px) {
	.md-centered {
		text-align: center;
	}
	.recommended-links-col {
	border-right: none;
	}
}

.text-right {
	text-align: right;
}
.justify {
	text-align: justify;
}

.white-bg {
	background: #fff;
}

.centered {
	text-align: center !important;
}

/* Corrections */

.button {
    display: inline-table;
    margin-bottom: 5px;
}

.cta-lg {
    text-align: center;
    padding: 0 30px;
    margin-bottom: 40px;
}

.cta-lg img {
    text-align: center !important;
}

a.secondary-color:hover {
	color: #E98024;
}

.unbounce--confirmation iframe {
	border:none; 
	margin:0; 
	padding:0;
}

.sidebar-left {
	margin-bottom: 20px;
}


/* FLEXBOX
   - Equal Height Columns in Rows
   - Equal Height Thumbnails
   - Flex Grow to Fill Paragraph Height
*/

@media only screen and (min-width : 481px) {
  .flex-row.row {
    display: flex;
	 flex-wrap: wrap;
  }
  .flex-row.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
  .flex-row.row:after, 
  .flex-row.row:before {
	 display: flex;
  }
  .flex-row.row > [class*='col-'] > .box {
    display: flex;
	 flex: 1;
  }
}




/* Grow thumbnails to fill columns height */
.flex-row .thumbnail,
.flex-row .caption {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
}

/* Flex Grow Text Container */
.flex-row .caption p.flex-text {
	flex-grow: 1;
}

/* Flex Responsive Image */
.flex-row img {
	width: 100%;
	height: auto;
}

