---
---
@import "grid";
@import "header";
@import "components";
@import "pages";
@import "snippets";
@import "cards";
@import "footer";
.f2bg {
	background-image: url("/assets/images/f2bg.png");
    background-repeat: repeat-x;
    background-position: bottom;
	padding-bottom: 5px;
}