---
---
{% include getdomain.html %}
.f2bg {
	background-image: url({{ '/assets/images/f2bg.png' | prepend: SourceUrl }});
    background-repeat: repeat-x;
    background-position: bottom;
	padding-bottom: 6px;
}