---
layout: full-width-page
title: Cryptocurrencies
permalink: /en/cryptocurrencies-flex-test/
language: en
tag: 
---
{% include getdomain.html %}
<div class="container">
	<div class="row center-text">
		<div class="col-md">
			<p>Join us in exploring the digital currencies that are changing how industries across the world are doing business.</p>
		</div>
	</div>
</div>

<div class="sections">

	<div class="section">
        <div class="container">
			<div class="row">	
				<div class="col-md-4">
					<div class="card-4 center-text">
						<div class="card-4-image">
							<img src="{{ '/assets/images/crypto/academy_crypto-02.png' | prepend: SourceUrl }}">
						</div>
						<div class="card-4-title">
							<h3 class="secondary-color">What are cryptocurrencies?</h3>
						</div>
						<div class="card-4-content">
							<p>Introduction to cryptocurrencies, their similarities and differences, as well as practical real-world applications.</p>
						</div>
						<div class="card-4-cta">
							<a class="button" href="https://marketing.binary.com/crypto/en/Binary.com_WhatAreCryptocurrencies.pdf"><span>Read now</span></a>
						</div>	
					</div>
				</div>
				<div class="col-md-4">
					<div class="card-4 center-text">
						<div class="card-4-image">
							<img src="{{ '/assets/images/crypto/academy_crypto-03.png' | prepend: SourceUrl }}">
						</div>
						<div class="card-4-title">
							<h3 class="secondary-color">What is a blockchain and how does it work</h3>
						</div>
						<div class="card-4-content">
							<p>Learn how the underlying technology that powers all cryptocurrencies work.</p>
						</div>
						<div class="card-4-cta">
							<a class="button" href="{{ '/ebooks/What-are-cryptocurrencies.pdf' | prepend: SourceUrl }}"><span>Read now</span></a>
						</div>	
					</div>
				</div>
				<div class="col-md-4">
					<div class="card-4 center-text">
						<div class="card-4-image">
							<img src="{{ '/assets/images/crypto/academy_crypto-04.png' | prepend: SourceUrl }}">
						</div>
						<div class="card-4-title">
							<h3 class="secondary-color">Types of cryptocurrency wallets</h3>
						</div>
						<div class="card-4-content">
							<p>How do you store cryptocurrencies? We explain the types of “wallets” that you can use.</p>
						</div>
						<div class="card-4-cta">
							<a class="button" href="https://marketing.binary.com/crypto/en/Binary.com_TypesOfCryptocurrencyWallets.pdf"><span>Read now</span></a>
						</div>	
					</div>
				</div>
			</div>
			<div class="separator-xl mob-hidden"></div>
			<div class="row">	
				<div class="col-md-4">
					<div class="card-4 center-text">
						<div class="card-4-image">
							<img src="{{ '/assets/images/crypto/academy_crypto-05.png' | prepend: SourceUrl }}">
						</div>
						<div class="card-4-title">
							<h3 class="secondary-color">How to create a crypto account with Binary.com</h3>
						</div>
						<div class="card-4-content">
							<p>Learn how to create a native cryptocurrency account with Binary.com</p>
						</div>
						<div class="card-4-cta">
							<a class="button" href="https://marketing.binary.com/crypto/en/Binary.com_HowToGetStartedWithBitcoinAccount.pdf"><span>Read now</span></a>
						</div>	
					</div>
				</div>
				<div class="col-md-4">
					<div class="card-4 center-text">
						<div class="card-4-image">
							<img src="{{ '/assets/images/crypto/academy_crypto-06.png' | prepend: SourceUrl }}">
						</div>
						<div class="card-4-title">
							<h3 class="secondary-color">How to deposit and withdraw your BTC</h3>
						</div>
						<div class="card-4-content">
							<p>Learn how to deposit and withdraw your bitcoin through your Binary.com native cryptocurrency account.</p>
						</div>
						<div class="card-4-cta">
							<a class="button" href="https://marketing.binary.com/crypto/en/Binary.com_HowToDepositAndWithdrawViaBitcoin.pdf"><span>Read now</span></a>
						</div>	
					</div>
				</div>
				<div class="col-md-4">
					<div class="card-4 center-text">
						<div class="card-4-image">
							<img src="{{ '/assets/images/crypto/academy_crypto-07.png' | prepend: SourceUrl }}">
						</div>
						<div class="card-4-title">
							<h3 class="secondary-color">How to trade cryptocurrencies on MT5</h3>
						</div>
						<div class="card-4-content">
							<p>How to trade Bitcoin, Ethereum, and Litecoin with variable spreads and leverage up to 1:3 on our MetaTrader 5 platform.</p>
						</div>
						<div class="card-4-cta">
							<a class="button" href="https://marketing.binary.com/crypto/en/Binary.com_HowToTradeCryptocurrenciesOnMT5.pdf"><span>Read now</span></a>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="section fill-bg-color">
		<div class="container">
			<div class="row">	
				<div class="col-md center-text">
					<h2>Join the cryptocurrency revolution</h2>
					<p>Trade Bitcoin, Ethereum, and more on our MT5 platform. Opening an account is free, and you can start trading with a demo account.</p>
					<p><a class="button" href="https://mt.binary.com/en/home.html"><span>Create MT5 account</span></a> <a class="button" href="https://www.binary.com/en/home.html"><span>Log in</span></a></p>
				</div>
			</div>
		</div>
	</div>
	


	
	
	<div class="container">
		<div class="separator-line-thin-gray-xs"></div>	
	</div>

	<div class="section">
		<div class="container">
			<div class="row">	
				<div class="col">
					<h2>Featured videos Flex</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="d-flex align-items-start flex-column" >
					  <div class="mb-auto p-2"><h4>What are cryptocurrencies</h4></div>
					  <div class="p-2">Learn more about cryptocurrencies such as Bitcoin, Ethereum, and Litecoin.</div>
					  <div class="p-2"><a href="" class="button"><span>Watch now</span></a></div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="d-flex align-items-start flex-column" >
					  <div class="mb-auto p-2"><h4>How to deposit and withdraw from your Binary.com account using Bitcoin</h4></div>
					  <div class="p-2">We offer a wide range of payment methods for deposits and withdrawals, including Bitcoin.</div>
					  <div class="p-2"><a href="" class="button"><span>Watch now</span></a></div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="d-flex align-items-start flex-column">
					  <div class="mb-auto p-2"><h4>How to trade cryptocurrencies on MT5</h4></div>
					  <div class="p-2">We show you what you need to do to trade the full range of cryptocurrency instruments we offer, including BTC/USD and ETH/USD.</div>
					  <div class="p-2"><a href="" class="button"><span>Watch now</span></a></div>
					</div>
				</div>
			</div>			
		</div>
	</div>
	
	
	<div class="container">
		<div class="separator-line-thin-gray-xs"></div>	
	</div>
	
	<div class="section">
		<!-- EXAMPLE 1 BELOW -->
<div class="container">
	<div class="flex-row row">


		<div class="col-xs-6 col-sm-4 col-lg-3">
			<div class="thumbnail">
				<div class="caption">
					<h3>Title</h3>
					<p class="flex-text text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. asdfasdfasdfsdfa asdfasdf sdfasfasdfasfasdfasdfasdfsd asdf asdf Distinctio, evenietsdf sdfsdfsdfsdfsdfsdf.
					</p>
					<p><a href="" class="button"><span>Watch now</span></a></p>
				</div>
				<!-- /.caption -->
			</div>
			<!-- /.thumbnail -->
		</div>


		<div class="col-xs-6 col-sm-4 col-lg-3">
			<div class="thumbnail ">
				<img src="http://placehold.it/350x150">
				<div class="caption">
					<h3>Title</h3>
					<p class="flex-text text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vel, quia. Non nostrum, consectetur ipsum doloribus enim maiores a laudantium, odio vel blanditiis id ea dolorum expedita fugit incidunt commodi.</p>
					<p>
						<a href="" class="button"><span>Watch now</span></a>
					</p>
				</div>
				<!-- /.caption -->
			</div>
			<!-- /.thumbnail -->
		</div>


		<div class="col-xs-6 col-sm-4 col-lg-3">
			<div class="thumbnail">
				<div class="caption">
					<h3>Title</h3>
					<p class="flex-text text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vel, quia. Non nostrum, consectetur ipsum doloribus enim maiores a laudantium.</p>
					<p>
						<a href="" class="button"><span>Watch now</span></a>
					</p>
				</div>
				<!-- /.caption -->
			</div>
			<!-- /.thumbnail -->
		</div>


		<div class="col-xs-6 col-sm-4 col-lg-3">
			<div class="thumbnail">
				<img src="http://placehold.it/350x180">
				<div class="caption">
					<h3>Title</h3>
					<p class="flex-text text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur optio ipsa fuga vel repudiandae impedit illum delectus nihil error animi nobis quaerat quidem, amet, praesentium aspernatur inventore numquam! Totam, dolorem inventore reprehenderit,
						culpa obcaecati!</p>
					<p><a href="" class="button"><span>Watch now</span></a></p>
				</div>
				<!-- /.caption -->
			</div>
			<!-- /.thumbnail -->
		</div>



	</div>
	<!-- /.container  -->


			</div>
		</div>
</div>
	</div>
	
	<div class="container">
		<div class="separator-line-thin-gray-xs"></div>	
	</div>
	
	<div class="section">
		<div class="container center-text">
			<div class="row">	
				<div class="col">
					<h2>Featured videos</h2>
				</div>
			</div>				
			<div class="row">
				<div class="col-sm-4"  style="height: 300px;">
					<div class="">
						<h4>What are cryptocurrencies</h4>
						<p class="p-2">Learn more about cryptocurrencies such as Bitcoin, Ethereum, and Litecoin.<p>
						<a href="" class="button"><span>Watch now</span></a>
					</div>
				</div>
				<div class="col-sm-4" style="height: 300px;">
					<div class="">
						<h4>How to deposit and withdraw from your Binary.com account using Bitcoin</h4>						
						<p>We offer a wide range of payment methods for deposits and withdrawals, including Bitcoin.</p>
						<a href="" class="button"><span>Watch now</span></a>
					</div>
				</div>
				<div class="col-sm-4" style="height: 300px;">
					<div class="">
						<h4>How to trade cryptocurrencies on MT5</h4>
						<p>We show you what you need to do to trade the full range of cryptocurrency instruments we offer, including BTC/USD and ETH/USD.</p>
						<a href="" class="button"><span>Watch now</span></a>
					</div>
				</div>
			</div>			
		</div>
	</div>
	<div class="container">
		<div class="separator-line-thin-gray-xs"></div>	
	</div>
	<div class="section">
		<div class="container center-text">
			<div class="row">	
				<div class="col-md">
					<h2>Recommended links</h2>
				</div>
			</div>
			<div class="row">			
				<div class="col-lg">
					<a href="{{ '/en/metatrader5-mt5/' | prepend: SourceUrl }}"><h3 class="card-3-title">MetaTrader 5</h3></a>
					<p>Enter the world of Forex and CFD trading. We show you how to get started with the leading multi-asset trading platform: MT5.</p>
				</div>
				<div class="col-lg">
					<a href="{{ '/en/binary-tv/' | prepend: SourceUrl }}"><h3 class="card-3-title">Binary TV</h3></a>
					<p>Firm believer of fundamental analysis? Keep up with headline news and trends from around the world.</p>
				</div>
				<div class="col-lg">
					<a href="https://shop.binary.com/"><h3 class="card-3-title">Binary.com Shop</h3></a>
					<p>Grab apps, strategies, guides, gear, and more from Binary.com and other third-party sellers.</p>
				</div>

			</div>
		</div>
	</div>
	<div class="container">
		<div class="separator-line-thin-gray-xs"></div>	
	</div>
	<div class="section">
		<div class="container">
			<div class="row">	
				<div class="col-md center-text">
					<h2>Latest Posts</h2>				
				</div>
			</div>
			<div class="row">	
				{% include snippets/blog-latest-crypto.html %}
			</div>	
		</div>
	</div>
</div>