---
layout: page-no-sidebar
title: Learning  Centre
permalink: /en/learning-centre/
language: en
tag: main
---
{% include getdomain.html %}
<div class="container">
	<div class="row center-text">
		<div class="col-md">
			<p>Learn how to be a better trader with free articles, ebooks, video tutorials, and a whole lot more –– brought to you exclusively by Binary.com.</p>
		</div>
	</div>
</div>

<div class="sections">
	
	<div class="section">
        <div class="container">
			<div class="row center-text">	
				<div class="col-lg-4">
					<div class="col--card fill-bg-color">
						<a href="https://www.binary.com/en/get-started.html?utm_source=blog&utm_medium=social&utm_campaign=oct2016_sidebar_newtotrading_en"><h3>New to binary options trading?</h3></a>
						<p>Learn about binary options, the benefits, and the basics of trading on Binary.com.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="col--card fill-bg-color">
						<a href="{{ '/en/webinars/' | prepend: SourceUrl }}"><h3>Webinars</h3></a>
						<p>Sign up for live training sessions from professional traders. These webinars are available to you for free.</p>
					</div>	
				</div>
				<div class="col-lg-4">
					<div class="col--card fill-bg-color">	
						<a href="{{ '/en/downloads/' | prepend: SourceUrl }}"><h3>Ebooks</h3></a>
						<p>Download free ebooks and guides on Forex trading, financial market analysis, and more.</p>
					</div>	
				</div>
			</div>
			<div class="separator-lg mob-hidden"></div>
			<div class="row center-text">
				<div class="col-lg-4">
					<div class="col--card fill-bg-color">
						<a href="{{ '/en/videos/' | prepend: SourceUrl }}"><h3>Videos</h3></a>
						<p>Enhance your trading skills and knowledge through our video tutorials, walkthroughs, and more.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="col--card fill-bg-color">
						<a href="{{ '/en/security-tips/' | prepend: SourceUrl }}"><h3>Security tips</h3></a>
						<p>Read our tips on securing your data and staying safe online.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="col--card fill-bg-color">
						<a href="https://www.binary.com/en/get-started/glossary.html?utm_source=blog&utm_medium=social&utm_campaign=oct2016_sidebar_glossary_en"><h3>Glossary</h3></a>
						<p>Not sure what a certain trading term means? Find a simple explanation here.</p>
					</div>	
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="separator-line-thin-gray-xs"></div>	
	</div>
	
	<div class="section">
		<div class="container">
			<div class="row">	
				<div class="col-md center-text">
					<h2>Start trading with a virtual account</h2>
					<p>Experience the world’s financial markets through binary options –– know what you stand to win or lose every time before you purchase a contract. Start your journey with a risk-free virtual account.</p>
					<p><a class="button" href="https://www.binary.com/en/get-started/glossary.html?utm_source=blog&utm_medium=social&utm_campaign=oct2016_sidebar_glossary_en"><span>Sign up</span></a></p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="separator-line-thin-gray-xs"></div>	
	</div>

	
	<div class="section">
		<div class="container center-text">
			<div class="row">	
				<div class="col-md">
					<h2>Recommended links</h2>
				</div>
			</div>
			<div class="row">			
				<div class="col-lg">
					<div class="col--card fill-bg-color">
						<a href="{{ '/en/news/' | prepend: SourceUrl }}"><h3>What’s new?</h3></a>
						<p>Get the latest news and updates from the Binary.com team on our official blog.</p>
					</div>
				</div>
				<div class="col-lg">
					<div class="col--card fill-bg-color">
						<a href="{{ '/en/metatrader5-mt5/' | prepend: SourceUrl }}"><h3>MetaTrader 5</h3></a>
						<p>Enter the world of Forex and CFD trading. We show you how to get started with the leading multi-asset trading platform: MT5.</p>
					</div>
				</div>
				<div class="col-lg">	
					<div class="col--card fill-bg-color">
						<a href="https://shop.binary.com/"><h3>Binary.com Shop</h3></a>
						<p>Grab apps, strategies, guides, gear, and more from Binary.com and other third-party sellers.</p>
					</div>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="container">
		<div class="separator-line-thin-gray-xs"></div>	
	</div>

	<div class="section">
		<div class="container">
			<div class="row">	
				<div class="col-md center-text">
					<h2>Latest Posts</h2>				
				</div>
			</div>
			<div class="row">	
				{% include snippets/blog-latest-mini.html %}
			</div>	
		</div>
	</div>
</div>