---
layout: full-width-page
title: Blog
permalink: /en/blog/
language: en
nav: 
category: blog
---
{% include geturl.html %}
<div class="separator-xl"></div>
<div class="container">
	<div class="flex-row row">
	{% assign engPosts = site.posts | where: "language", "en" %}
	{% for post in engPosts limit:18%}
		<div class="col-sm-4">
			<div class="card thumbnail bottom-30 fill-bg-color">
				<div class="caption">
				<p class="font-s">{{ post.date | date: "%d.%m.%Y" }}</p>
					<a href="{{ post.url | prepend: SourceUrl }}"><h3>{{ post.title }}</h3></a>
					<p class="flex-text">{{ post.excerpt | truncatewords:20 }}</p>
					<p><a href="{{ post.url | prepend: SourceUrl }}" class="button"><span>Read more</span></a></p>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
</div>
<div class="separator-xl"></div>
<div class="container">
	<div class="row">
		<div class="col center-text">
			<h2>Open an account now</h2>
			<p>Experience the world’s financial markets through binary options –– know what you stand to win or lose every time before you purchase a contract. Start your journey with a risk-free virtual account.</p>
			<p><a class="button" href="https://www.binary.com/en/home.html?utm_source=blog&utm_medium=social&utm_campaign=oct2016_sidebar_openafreeaccount_en"><span>Create account</span></a></p>
		</div>
	</div>
</div>
<div class="separator-xl"></div>
