---
layout: page-no-sidebar
title: Components
permalink: /en/components/
language: en
tag:
---
{% include getdomain.html %}
<div class="container">
	<div class="row center-text">
		<div class="col-md">
			<p>Join us in exploring the digital currencies that are changing how industries across the world are doing business.</p>
		</div>
	</div>
</div>

<div class="sections">
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="card">
						<img class="card-img-top" src="https://offers.binary.com/binary/images/header/general-trading.jpg" alt="Card image cap">
						<div class="card-body">
							<h4 class="card-title">Card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="">Watch now</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card">
						<img class="card-img-top" src="https://offers.binary.com/binary/images/header/general-trading.jpg" alt="Card image cap">
						<div class="card-body">
							<h4 class="card-title">Card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="">Watch now</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card">
						<img class="card-img-top" src="https://offers.binary.com/binary/images/header/general-trading.jpg" alt="Card image cap">
						<div class="card-body">
							<h4 class="card-title">Card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="">Watch now</a>
						</div>
					</div>
				</div>
			</div>
			<div class="separator-lg mob-hidden"></div>
			<div class="row">
				<div class="col-sm-4">
					<div class="card">
						<img class="card-img-top" src="https://offers.binary.com/binary/images/header/general-trading.jpg" alt="Card image cap">
						<div class="card-body">
							<h4 class="card-title">Card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="button"><span>Go somewhere</span></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card">
						<img class="card-img-top" src="https://offers.binary.com/binary/images/header/general-trading.jpg" alt="Card image cap">
						<div class="card-body">
							<h4 class="card-title">Card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="button"><span>Go somewhere</span></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card">
						<img class="card-img-top" src="https://offers.binary.com/binary/images/header/general-trading.jpg" alt="Card image cap">
						<div class="card-body">
							<h4 class="card-title">Card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="button"><span>Go somewhere</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="section fill-bg-color">
		<div class="container">
			<div class="row">	
				<div class="col-md center-text">
					<h2>Join the cryptocurrency revolution</h2>
					<p>Trade Bitcoin, Ethereum, and more on our MT5 platform. Opening an account is free, and you can start trading with a demo account.</p>
					<p><a class="button" href="https://mt.binary.com/en/home.html"><span>Create MT5 account</span></a> <a class="button" href="https://www.binary.com/en/home.html"><span>Log in</span></a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container center-text">
			<div class="row">	
				<div class="col">
					<h2>Featured videos</h2>
				</div>
			</div>	

			
			<div class="row align-items-top">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">What are cryptocurrencies</h4>
        <p class="card-text">Learn more about cryptocurrencies such as Bitcoin, Ethereum, and Litecoin.</p>
        <a href="" class="button"><span>Watch now</span></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">How to deposit and withdraw from your Binary.com account using Bitcoin</h4>
        <p class="card-text">We offer a wide range of payment methods for deposits and withdrawals, including Bitcoin.</p>
        <a href="" class="button"><span>Watch now</span></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">How to trade cryptocurrencies on MT5</h4>
        <p class="card-text">We show you what you need to do to trade the full range of cryptocurrency instruments we offer, including BTC/USD and ETH/USD.</p>
        <a href="" class="button"><span>Watch now</span></a>
      </div>
    </div>
  </div>
</div>
			
		</div>
	</div>
	
	<div class="section fill-bg-color">
		<div class="container center-text">
			<div class="row">	
				<div class="col-md">
					<h2>Recommended links</h2>
				</div>
			</div>
			<div class="row">			
				<div class="col-lg right-border">
					<a href="{{ '/en/metatrader5-mt5/' | prepend: SourceUrl }}"><h3 class="card-3-title">MetaTrader 5</h3></a>
					<p>Enter the world of Forex and CFD trading. We show you how to get started with the leading multi-asset trading platform: MT5.</p>
				</div>
				<div class="col-lg right-border">
					<a href="{{ '/en/binary-tv/' | prepend: SourceUrl }}"><h3 class="card-3-title">Binary TV</h3></a>
					<p>Firm believer of fundamental analysis? Keep up with headline news and trends from around the world.</p>
				</div>
				<div class="col-lg">
					<a href="https://shop.binary.com/"><h3 class="card-3-title">Binary.com Shop</h3></a>
					<p>Grab apps, strategies, guides, gear, and more from Binary.com and other third-party sellers.</p>
				</div>

			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			<div class="row">	
				<div class="col-md center-text">
					<h2>Latest Posts</h2>				
				</div>
			</div>
			<div class="row">	
				{% include snippets/blog-latest-crypto.html %}
			</div>	
		</div>
	</div>
</div>