---
layout: full-width-page
title: Home Tabs
permalink: /en/home-tabs/
language: en
tag: 
---
{% include geturl.html %}
<div class="container">
	<div class="row center-text">
		<div class="col-md">
			<p>Join us in exploring the digital currencies that are changing how industries across the world are doing business.</p>
		</div>
	</div>
</div>

<div class="separator-xl"></div>
	
	<div class="fill-bg-color">
	<div class="separator-xl"></div>
		<div class="container">
			<div class="row">	
				<div class="col center-text">
					<h2>Join the cryptocurrency revolution</h2>
					<p>Trade Bitcoin, Ethereum, and more on our MT5 platform. Opening an account is free, and you can start trading with a demo account.</p>
					<p><a class="button" href="https://mt.binary.com/en/home.html"><span>Create MT5 account</span></a> <a class="button" href="https://www.binary.com/en/home.html"><span>Log in</span></a></p>
				</div>
			</div>
		</div>
	<div class="separator-xl"></div>
	</div>

<div class="separator-xl"></div>

<div class="container">
        <div class="row">	
            <div class="col center-text">
                
                 {% include test-tabs.html %}
                
            </div>
      </div>
</div>  
                
                
                
                
                

<div class="container">
        <div class="row">	
            <div class="col center-text fill-bg-color">
	
                

           </div>
	   </div>
</div>

<script src="{{ '/assets/js/tabcontent.js' | prepend: SourceUrl }}"></script>