{% include lang.html %}
<div class="flex-row row">
{% if siteLang == "en" %}
	{% assign sPosts = site.posts | where: "language", "en" %}	
	{% for post in sPosts | limit:6 %}
	{% if post.tag == "crypto" %}
		{% if post.title %}
			<div class="col-sm-4">
				<div class="card thumbnail bordered">				
					<div class="caption">
					<p class="font-s">{{ post.date | date: "%d.%m.%Y" }}</p>
						<a href="{{ post.url | prepend: SourceUrl }}"><h3>{{ post.title }}</h3></a>
						<p class="flex-text">{{ post.excerpt | truncatewords:20 }}</p>
						<p><a href="{{ post.url | prepend: SourceUrl }}" class="button"><span>Read more</span></a></p>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}	
	{% endfor %}
{% elsif siteLang == "de" %}
	{% assign sPosts = site.posts | where: "language", "de" %}
	{% for post in sPosts | limit:6 %}
	{% if post.tag == "crypto" %}
		{% if post.title %}
			<div class="col-sm-4">
				<div class="card thumbnail bordered">				
					<div class="caption">
					<p class="font-s">{{ post.date | date: "%d.%m.%Y" }}</p>
						<a href="{{ post.url | prepend: SourceUrl }}"><h3>{{ post.title }}</h3></a>
						<p class="flex-text">{{ post.excerpt | truncatewords:20 }}</p>
						<p><a href="{{ post.url | prepend: SourceUrl }}" class="button"><span>Read more</span></a></p>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}	
	{% endfor %}
{% elsif siteLang == "fr" %}
	{% assign sPosts = site.posts | where: "language", "fr" %}
	{% for post in sPosts | limit:6 %}
	{% if post.tag == "crypto" %}
		{% if post.title %}
			<div class="col-sm-4">
				<div class="card thumbnail bordered">				
					<div class="caption">
					<p class="font-s">{{ post.date | date: "%d.%m.%Y" }}</p>
						<a href="{{ post.url | prepend: SourceUrl }}"><h3>{{ post.title }}</h3></a>
						<p class="flex-text">{{ post.excerpt | truncatewords:20 }}</p>
						<p><a href="{{ post.url | prepend: SourceUrl }}" class="button"><span>Read more</span></a></p>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}	
	{% endfor %}
{% elsif siteLang == "ru" %}
	{% assign sPosts = site.posts | where: "language", "ru" %}
	{% for post in sPosts | limit:6 %}
	{% if post.tag == "crypto" %}
		{% if post.title %}
			<div class="col-sm-4">
				<div class="card thumbnail bordered">				
					<div class="caption">
					<p class="font-s">{{ post.date | date: "%d.%m.%Y" }}</p>
						<a href="{{ post.url | prepend: SourceUrl }}"><h3>{{ post.title }}</h3></a>
						<p class="flex-text">{{ post.excerpt | truncatewords:20 }}</p>
						<p><a href="{{ post.url | prepend: SourceUrl }}" class="button"><span>Read more</span></a></p>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}	
	{% endfor %}
{% elsif siteLang == "pt" %}
	{% assign sPosts = site.posts | where: "language", "pt" %}
	{% for post in sPosts | limit:6 %}
	{% if post.tag == "crypto" %}
		{% if post.title %}
			<div class="col-sm-4">
				<div class="card thumbnail bordered">				
					<div class="caption">
					<p class="font-s">{{ post.date | date: "%d.%m.%Y" }}</p>
						<a href="{{ post.url | prepend: SourceUrl }}"><h3>{{ post.title }}</h3></a>
						<p class="flex-text">{{ post.excerpt | truncatewords:20 }}</p>
						<p><a href="{{ post.url | prepend: SourceUrl }}" class="button"><span>Read more</span></a></p>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}	
	{% endfor %}
{% elsif siteLang == "es" %}
	{% assign sPosts = site.posts | where: "language", "es" %}
	{% for post in sPosts | limit:6 %}
	{% if post.tag == "crypto" %}
		{% if post.title %}
			<div class="col-sm-4">
				<div class="card thumbnail bordered">				
					<div class="caption">
					<p class="font-s">{{ post.date | date: "%d.%m.%Y" }}</p>
						<a href="{{ post.url | prepend: SourceUrl }}"><h3>{{ post.title }}</h3></a>
						<p class="flex-text">{{ post.excerpt | truncatewords:20 }}</p>
						<p><a href="{{ post.url | prepend: SourceUrl }}" class="button"><span>Read more</span></a></p>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}	
	{% endfor %}
{% elsif siteLang == "id" %}
	{% assign sPosts = site.posts | where: "language", "id" %}
	{% for post in sPosts | limit:6 %}
	{% if post.tag == "crypto" %}
		{% if post.title %}
			<div class="col-sm-4">
				<div class="card thumbnail bordered">				
					<div class="caption">
					<p class="font-s">{{ post.date | date: "%d.%m.%Y" }}</p>
						<a href="{{ post.url | prepend: SourceUrl }}"><h3>{{ post.title }}</h3></a>
						<p class="flex-text">{{ post.excerpt | truncatewords:20 }}</p>
						<p><a href="{{ post.url | prepend: SourceUrl }}" class="button"><span>Read more</span></a></p>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}	
	{% endfor %}
{% else %}
	{% assign sPosts = site.posts | where: "language", "en" %}
	{% for post in sPosts | limit:6 %}
	{% if post.tag == "crypto" %}
		{% if post.title %}
			<div class="col-sm-4">
				<div class="card thumbnail bordered">				
					<div class="caption">
					<p class="font-s">{{ post.date | date: "%d.%m.%Y" }}</p>
						<a href="{{ post.url | prepend: SourceUrl }}"><h3>{{ post.title }}</h3></a>
						<p class="flex-text">{{ post.excerpt | truncatewords:20 }}</p>
						<p><a href="{{ post.url | prepend: SourceUrl }}" class="button"><span>Read more</span></a></p>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}	
	{% endfor %}
{% endif %}	
</div>	