{% include lang.html %}
{% assign activePage = page.url %}
<div class="row">
	<div class="col">
		<h3>{{ translate.contributors }}</h3>
		<div class="sidebar-left">
			<ul>	
			{% for page in site.pages %}
				{% if page.language == siteLang %}														
					{% if page.tag == "contributor" %}
						<li {% if page.url == activePage %}class="selected"{% endif %}><a href="{{ page.url | prepend: SourceUrl }}">{{ page.title }}</a></li>
					{% endif %}				
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</div>
</div>