{% include lang.html %}
<div class="LC-sidebar">
{% assign current = page.url %}
    {% if siteLang == "en" %}
	{% assign engPosts = site.posts | where: "language", "en" %}
			<ul class="">		
				{% for post in engPosts limit:15 %} 
				{% if post.tag == "daily-report" %}	
					{% if post.title %}
						<li{% if post.url == current %} class="LC-active"{% endif %}><a href="{{ post.url | relative_url }}"><strong>{{ post.title }}</strong><span class="sidebar-date">{{ post.date | date: "%d.%m.%Y" }}</span></a></li>
					{% endif %}
				{% endif %}	
				{% endfor %}
			</ul>		
	
	{% else %}
	{% assign engPosts = site.posts | where: "language", "en" %}
			<ul class="">		
				{% for post in engPosts limit:15 %} 
				{% if post.tag == "daily-report" %}	
					{% if post.title %}
						<li{% if post.url == current %} class="LC-active"{% endif %}><a href="{{ post.url | relative_url }}"><strong>{{ post.title }}</strong><span class="sidebar-date">{{ post.date | date: "%d.%m.%Y" }}</span></a></li>
					{% endif %}
				{% endif %}	
				{% endfor %}
			</ul>
	{% endif %}						
</div>